<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="www.kaznu.kz.projects.m2">

    <permission
        android:name="your.package.name.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="your.package.name.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Default"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <activity android:name=".activities.SearchIntroActivity" />
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".activities.SlideActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.ProfileInfoActivity" />
        <activity android:name=".activities.CommentsActivity" />
        <activity android:name=".activities.ChangeDataActivity" />
        <activity android:name=".activities.ProfileTypeActivity" />
        <activity
            android:name=".activities.DiscussionActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name=".activities.DiscussionAdminActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity android:name=".activities.RealtyAddActivity" />
        <activity android:name=".activities.OfferActivity" />
        <activity
            android:name=".activities.SearchActivity"
            android:theme="@style/Theme.Search"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".activities.SearchAddressActivity" />
        <activity
            android:name=".activities.IntroScreenActivity"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".activities.RealtyActivity" />
        <activity
            android:name=".activities.RegisterActivity"
            android:parentActivityName=".activities.LoginActivity" />
        <activity android:name=".MainActivity" />

        <activity android:name=".activities.UploadAvatarActivity" />

        <activity android:name=".activities.Add3DActivity" />

        <service
            android:name=".services.SignalRService"
            android:enabled="true"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>